.buttonNavBar {
  width: 10vw;
  height: 5vh;
  font-size: 18px;
  color: white;
  background-color: var(--col-purple);
  border-radius: 0.2rem;
  border: none;
  padding: 0.2rem;
  cursor: pointer;
}
