.containerFormulaire {
  .titreFormulaire {
    text-align: center;
    /* margin: 40px 0 40px 0; */

    h2 {
      font-size: 3rem;
    }
  }

  .table {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 40vw;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    overflow-y: scroll;

    .row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 10px;
      border-bottom: 1px solid #ddd;
      list-style-type: none;
      align-items: center;
    }

    .header {
      font-weight: bold;
      background-color: #222020;

      .colId,
      .colName,
      .colPhone,
      .colActions {
        width: 20%;
        text-align: left;
        color: rgb(180, 178, 178);
      }

      .colActions {
        text-align: right;
      }
    }

    .colId,
    .colName,
    .colPhone,
    .colActions {
      width: 20vw;
      max-width: 20%;
      text-align: left;
    }

    .colActions {
      text-align: right;
    }

    button {
      border-radius: 8px;
      height: 2.3vh;
      width: 3vw;
      border: none;
      background-color: #222020;
      color: #ccc;
      margin-right: 3px;
    }
  }
}

@media screen and (max-width: 780px) {
  .containerFormulaire {
    .titreFormulaire {
      h2 {
        font-size: 2rem;

        padding: 10px;
      }
    }

    .table {
      max-width: 80vw;
      max-height: 55vh;
      height: 45vh;
      padding: 5px;
      margin-top: 3vh;

      .header {
        max-width: 78vw;
        display: flex;
        justify-content: center;
        border-radius: 20px;
        height: 4vh;
        align-items: center;
        gap: 10px;
        padding: 0;
      }
      .colActions {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        button {
          width: 15vw;
          height: 2.5vh;
        }
      }
    }
  }
}
